<!--Tecnologias-->
<ion-list class="" id="tecnologias">

  <ion-list-header class="ion-padding-horizontal">
    <h2>Tecnologias: <span class="nota">Mis tecnologías preferidas 💻</span></h2>
  </ion-list-header>

  <ion-item-group class="muestrario">
    <ion-item class="ion-align-items-center">
      <app-tech-badge></app-tech-badge>
    </ion-item>
  </ion-item-group>
</ion-list>

<!--Experiencia-->
<ion-list class="ion-margin-top" id="experiencia">

  <ion-list-header class="ion-padding-horizontal">
    <h2>Experiencia: <span class="nota">Mi carrera profesional como desarrollador web esta comenzando 🚀. Pero esta es mi experiencia más relevante</span></h2>
  </ion-list-header>
  <ion-item-group class="muestrario">
    <ion-item class="muestra ion-align-items-center" lines="full" >
      <ion-label class="descripcion">
        <h2 class="titulo">MacJava-Rest: <span class="nota">3 API Rest</span></h2>

        <p class="ion-text-justify">Este proyecto abarca el desarrollo de una API Rest para la gestion de un restaurante. Esta desarrollado en 3 lenguajes de programacion y frameworks distintos: Spring Boot y Java, Nest y TypeScript y por último en Laravel y PHP.</p>
      </ion-label>

      <ion-thumbnail slot="end">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg"/>
      </ion-thumbnail>
    </ion-item>
  </ion-item-group>
</ion-list>

<!--Proyectos-->

<ion-list class="ion-margin-top" id="proyectos">

  <ion-list-header class="ion-padding-horizontal">
    <h2>Proyectos: <span class="nota">Trabajos principales en los que he trabajado</span></h2>
  </ion-list-header>

  <ion-item-group class="muestrario">
    <ion-item class="muestra ion-align-items-center" lines="full" button detail="false" id="open-modal">
      <ion-label class="descripcion">
        <h2 class="titulo">MacJava-Rest: <span class="nota">3 API Rest</span></h2>

        <p class="ion-text-justify">Este proyecto abarca el desarrollo de una API Rest para la gestion de un restaurante. Esta desarrollado en 3 lenguajes de programacion y frameworks distintos: Spring Boot y Java, Nest y TypeScript y por último en Laravel y PHP.</p>
      </ion-label>

      <ion-thumbnail slot="end">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg"/>
      </ion-thumbnail>

      <ion-modal #modal trigger="open-modal" [enterAnimation]="enterAnimation" [leaveAnimation]="leaveAnimation">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-title>Modal</ion-title>
              <ion-buttons slot="end">
                <ion-button (click)="modal.dismiss()">Close</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-content class="ion-padding">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni illum quidem recusandae ducimus quos
              reprehenderit. Veniam, molestias quos, dolorum consequuntur nisi deserunt omnis id illo sit cum qui. Eaque,
              dicta.
            </p>
          </ion-content>
        </ng-template>
      </ion-modal>
    </ion-item>
    <ion-item class="muestra ion-align-items-center" lines="full">
      <ion-label class="descripcion">
        <h2 class="titulo">MacJava-Rest: <span class="nota">3 API Rest</span></h2>

        <p class="ion-text-justify">Este proyecto abarca el desarrollo de una API Rest para la gestion de un restaurante. Esta desarrollado en 3 lenguajes de programacion y frameworks distintos: Spring Boot y Java, Nest y TypeScript y por último en Laravel y PHP.</p>
      </ion-label>

      <ion-thumbnail slot="end">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg"/>
      </ion-thumbnail>
    </ion-item>
    <ion-item class="muestra ion-align-items-center" lines="full" >
      <ion-label class="descripcion">
        <h2 class="titulo">MacJava-Rest: <span class="nota">3 API Rest</span></h2>

        <p class="ion-text-justify">Este proyecto abarca el desarrollo de una API Rest para la gestion de un restaurante. Esta desarrollado en 3 lenguajes de programacion y frameworks distintos: Spring Boot y Java, Nest y TypeScript y por último en Laravel y PHP.</p>
      </ion-label>

      <ion-thumbnail slot="end">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg"/>
      </ion-thumbnail>
    </ion-item>
  </ion-item-group>
</ion-list>

<!--Formación-->
<ion-card id="formacion">
    <ion-card-header>
        <ion-card-title>
            Formación:
        </ion-card-title>
        <ion-card-subtitle>
            Formación académica:
        </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="muestrario">
        <p>
            content-header works!
        </p>
    </ion-card-content>
</ion-card>

<!--Soft skills-->
<ion-card id="masSobreMi">
    <ion-card-header>
        <ion-card-title>
            Mas sobre mí:
        </ion-card-title>
        <ion-card-subtitle>
            ?? no se si añadirlas
        </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="muestrario">
        <p>
            content-header works!
        </p>
    </ion-card-content>
</ion-card>

<!--Contacto-->
<ion-card id="contacto">
    <ion-card-header>
        <ion-card-title>
            Contacto:
        </ion-card-title>
        <ion-card-subtitle>
            Si deseas contactar conmigo
        </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="muestrario">
        <p>
            content-header works!
        </p>
    </ion-card-content>
</ion-card>
